.App{
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}
.card{
    margin-top: 125px;


}
img{
    margin-top: -80px;
}
span{
    font-size: 20px;
    font-weight: 600;
}
.col{
    display: flex;
    justify-content: center;
    
}
.cardB{
    border-radius: 10px;
    border: none;
}
.button {
    
    background-color:#0b5d8b ;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }